<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deleted</title>
</head>
<body>
    <p>Akun Anda telah berhasil dihapus</p>

    <script>
        setTimeout(function() {
          window.location.href = "/login";
        }, 3000); 
      </script>
</body>
</html>