<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="../assets/css/output.css" rel="stylesheet">
    <script src="../tailwind_custom.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <%- include('style.ejs') %>
        <%- include('tailwind_custom.ejs') %>
</head>

<body>
    <nav class="nav_not_login bg-white">
        <div class="container mx-auto flex justify-between items-center space-x-1">
            <a class="button_purple text-gray-600 flex items-center space-x-1" style="box-shadow: none;" href="/settings">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.52385 9.16658H16.6668V10.8332H6.52385L10.9938 15.3032L9.81533 16.4817L3.3335 9.99992L9.81533 3.51807L10.9938 4.69657L6.52385 9.16658Z"
                        fill="white" />
                </svg>
                <span>Kembali</span>
            </a>
            <span></span>
        </div>
    </nav>
    <img class="background_line_1" src="../assets/background/bg_pattern.svg" alt="" srcset="">
    <div class="background_circle_2">
        <img src="../assets/svg/circle_gradient.svg" alt="" srcset="">
    </div><svg class="icon_header" width="96" height="96" viewBox="0 0 96 96" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M72 32H80C82.2092 32 84 33.7909 84 36V84C84 86.2092 82.2092 88 80 88H16C13.7909 88 12 86.2092 12 84V36C12 33.7909 13.7909 32 16 32H24V28C24 14.7452 34.7452 4 48 4C61.2548 4 72 14.7452 72 28V32ZM20 40V80H76V40H20ZM44 56H52V64H44V56ZM28 56H36V64H28V56ZM60 56H68V64H60V56ZM64 32V28C64 19.1634 56.8364 12 48 12C39.1634 12 32 19.1634 32 28V32H64Z"
            fill="#10B981" />
    </svg>

    <div class="bg-white shadow-md rounded-lg p-8 w-96">
        <h2 class="text-3xl mb-8">Change Password</h2>

        <% if (message) { %>
            <div class="alert_message alert_wrong" style="color: red;">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16 29.3334C8.63622 29.3334 2.66669 23.3638 2.66669 16C2.66669 8.63622 8.63622 2.66669 16 2.66669C23.3638 2.66669 29.3334 8.63622 29.3334 16C29.3334 23.3638 23.3638 29.3334 16 29.3334ZM16 26.6667C21.8911 26.6667 26.6667 21.8911 26.6667 16C26.6667 10.109 21.8911 5.33335 16 5.33335C10.109 5.33335 5.33335 10.109 5.33335 16C5.33335 21.8911 10.109 26.6667 16 26.6667ZM14.6667 20H17.3334V22.6667H14.6667V20ZM14.6667 9.33335H17.3334V17.3334H14.6667V9.33335Z"
                        fill="#C52284" />
                </svg>


                <div>
                    <%= message %>
                </div>
            </div>
            <% } %>

                <form action="/change-password" method="POST">
                    <label for="currentPassword" style="margin-bottom: 8px !important">Password Lama:</label>
                    <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-300"
                        style="margin-top:8px !important" type="password" placeholder="**********" id="currentPassword"
                        name="currentPassword" required><br><br>

                    <label for="newPassword">Password Baru:</label>
                    <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-300" type="password"
                        placeholder="************" id="newPassword" name="newPassword" required><br><br>

                    <label for="confirmPassword">Konfirmasi Password Baru:</label>
                    <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-300" type="password"
                        placeholder="************" id="confirmPassword" name="confirmPassword" required><br><br>

                    <input
                        class="w-full bg-blue-500 text-white py-2 mt-4 rounded-md hover:bg-blue-600 transition duration-300"
                        type="submit" value="Change Password">
                </form>
    </div>
    <div style="height: 88px;"></div>
</body>

</html>