<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h2>Change Password</h2>

    <% if (message) { %>
    <p><%= message %></p>
    <% } %>

    <form action="/change-password" method="POST">
        <label for="currentPassword">Password Lama:</label>
        <input type="password" id="currentPassword" name="currentPassword" required><br><br>
        
        <label for="newPassword">Password Baru:</label>
        <input type="password" id="newPassword" name="newPassword" required><br><br>
        
        <label for="confirmPassword">Konfirmasi Password Baru:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        
        <input type="submit" value="Change Password">
    </form>
</body>
</html>
