<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="../assets/css/output.css" rel="stylesheet">
    <script src="../tailwind_custom.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <%- include('style.ejs') %>
        <%- include('tailwind_custom.ejs') %>
</head>

<body>
    <img class="background_line_1" src="../assets/background/bg_pattern.svg" alt="" srcset="">
    <div class="background_circle_1">
        <img src="../assets/svg/circle_gradient.svg" alt="" srcset="">
    </div>
    <div class="bg-white shadow-md rounded-lg p-8 w-96">
        <svg class="icon_header" width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28 40H80C82.2092 40 84 41.7908 84 44V84C84 86.2092 82.2092 88 80 88H16C13.7909 88 12 86.2092 12 84V44C12 41.7908 13.7909 40 16 40H20V36C20 20.536 32.536 8 48 8C58.962 8 68.4524 14.2992 73.0496 23.4753L65.8924 27.0538C62.6088 20.4994 55.83 16 48 16C36.9543 16 28 24.9543 28 36V40ZM20 48V80H76V48H20ZM40 60H56V68H40V60Z" fill="#6366F1"/>
            </svg>
            

        <h2 class="text-3xl font-bold underline text-cyan-500">Forgot Password</h2>

        <% if (errorMessage) { %>
            <div class="alert_message alert_wrong" style="color: red;">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M26.6667 9.65056L16.0958 19.1173L5.33335 9.62125V25.3333H14.7612C14.8959 26.2748 15.1711 27.1711 15.5648 28H4.00002C3.26365 28 2.66669 27.4031 2.66669 26.6667V5.33333C2.66669 4.59696 3.26365 4 4.00002 4H28C28.7364 4 29.3334 4.59696 29.3334 5.33333V16.3396C28.528 15.7779 27.6299 15.3399 26.6667 15.0532V9.65056ZM26.0014 6.66667H6.0153L16.0826 15.5493L26.0014 6.66667ZM22.2755 27.6101C22.7976 27.86 23.3826 28 24 28C26.2092 28 28 26.2092 28 24C28 23.3825 27.86 22.7976 27.6102 22.2755L22.2755 27.6101ZM20.3899 25.7245L25.7246 20.3899C25.2024 20.14 24.6175 20 24 20C21.7908 20 20 21.7908 20 24C20 24.6175 20.14 25.2024 20.3899 25.7245ZM24 30.6667C20.3182 30.6667 17.3334 27.6819 17.3334 24C17.3334 20.3181 20.3182 17.3333 24 17.3333C27.6819 17.3333 30.6667 20.3181 30.6667 24C30.6667 27.6819 27.6819 30.6667 24 30.6667Z"
                        fill="#C52284" />
                </svg>

                <div>
                    <%= errorMessage %>
                </div>
            </div>
            <% } %>

                <% if (successMessage) { %>
                    <div class="alert_message alert_success" style="color: green;">
                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M28 4.5C28.7364 4.5 29.3333 5.09696 29.3333 5.83333V27.1755C29.3333 27.9069 28.7263 28.5 28.0109 28.5H3.98907C3.25873 28.5 2.66667 27.9068 2.66667 27.1755V25.8333H26.6667V10.2333L16 19.8333L2.66667 7.83333V5.83333C2.66667 5.09696 3.26363 4.5 4 4.5H28ZM10.6667 20.5V23.1667H0V20.5H10.6667ZM6.66667 13.8333V16.5H0V13.8333H6.66667ZM26.0879 7.16667H5.91219L16 16.2457L26.0879 7.16667Z"
                                fill="white" />
                        </svg>

                        <div>
                            <%= successMessage %>
                        </div>
                    </div>
                    <% } %>

                        <form action="/forgot-password" method="POST">
                            <label for="email">Email:</label>
                            <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-300"
                                type="email" id="email" name="email" placeholder="budibudiman@gmail.com" required>
                            <button
                                class="button_purple w-full bg-blue-500 text-white py-2 mt-4 rounded-md hover:bg-blue-600 transition duration-300"
                                type="submit">Send Reset Email</button>
                        </form>

                        <p class="mt-14 text-center">Remember your password? <a href="/login">Login</a></p>
    </div>
</body>

</html>