<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    
    <% if (errorMessage) { %>
        <p style="color: red;"><%= errorMessage %></p>
    <% } %>
    
    <% if (successMessage) { %>
        <p style="color: green;"><%= successMessage %></p>
    <% } %>
    
    <form action="/forgot-password" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Send Reset Email</button>
    </form>
    
    <p>Remember your password? <a href="/login">Login</a></p>
</body>
</html>
