<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <a href="/create-post">Buat Postingan</a>
  <a href="/menu">Menu</a><br>

  <ul>
    <% posts.forEach(function(post) { %>
      <li>
        <p>Post by: <%= post.user.name %></p>
        <p><%= post.caption %></p>
          <div>
            <% post.photos.forEach(function(photo) { %>
              <img style="width: 500px;" src="/<%= photo.file_path %>" alt="<%= photo.filename %>">
            <% }); %>
          </div>
      </li>
    <% }); %>    
  </ul>    
</body>
</html>
