<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <div style="display: flex;">
    <a href="/home">Home</a>
    <a href="/users">Users</a>
    <a href="/menu">Menu</a>  
  </div>

  <br>

  <a href="/create-post">Buat Postingan</a>

  <ul>
    <% posts.forEach(function(post) { %>
      <li style="list-style-type: none;">
        <p><%= post.caption %></p>
          <div>
            <% post.photos.forEach(function(photo) { %>
              <img style="width: 500px;" src="/<%= photo.file_path %>" alt="<%= photo.filename %>">
            <% }); %>
          </div>
      </li>
    <% }); %>    
  </ul>    
</body>
</html>
