<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link href="../assets/css/output.css" rel="stylesheet">
  <script src="../tailwind_custom.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <%- include('style.ejs') %>
    <%- include('tailwind_custom.ejs') %>
</head>

<body class="pb-16">
  <img class="background_line_1" src="../assets/background/bg_pattern.svg" alt="" srcset="">
  <div class="background_circle_1">
    <img src="../assets/svg/circle_gradient.svg" alt="" srcset="">
  </div>
  <div class="bg-white shadow-md rounded-lg p-8 w-96">
    <svg class="icon_header" width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M48 8C70.0912 8 88 25.9086 88 48C88 56.5456 85.3204 64.4648 80.7556 70.964L68 48H80C80 30.3269 65.6732 16 48 16C30.3269 16 16 30.3269 16 48C16 65.6732 30.3269 80 48 80C56.6008 80 64.4092 76.6068 70.1592 71.0864L74.1516 78.268C67.1392 84.332 57.998 88 48 88C25.9086 88 8 70.0912 8 48C8 25.9086 25.9086 8 48 8Z"
        fill="#6366F1" />
      <path
        d="M48 28C54.6276 28 60 33.3726 60 40V44H64V64H32V44H36V40C36 33.3726 41.3724 28 48 28ZM48 36C45.9488 36 44.258 37.5442 44.0268 39.5335L44 40V44H52V40C52 37.9486 50.456 36.258 48.4664 36.0269L48 36Z"
        fill="white" />
    </svg>



    <h2 class="text-3xl">Reset Password</h1>

      <% if (errorMessage) { %>
        <div class="alert_message alert_wrong" style="color: red;">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16 29.3334C8.63622 29.3334 2.66669 23.3638 2.66669 16C2.66669 8.63622 8.63622 2.66669 16 2.66669C23.3638 2.66669 29.3334 8.63622 29.3334 16C29.3334 23.3638 23.3638 29.3334 16 29.3334ZM16 26.6667C21.8911 26.6667 26.6667 21.8911 26.6667 16C26.6667 10.109 21.8911 5.33335 16 5.33335C10.109 5.33335 5.33335 10.109 5.33335 16C5.33335 21.8911 10.109 26.6667 16 26.6667ZM14.6667 20H17.3334V22.6667H14.6667V20ZM14.6667 9.33335H17.3334V17.3334H14.6667V9.33335Z"
              fill="#C52284" />
          </svg>

          <div>
            <%= errorMessage %>
          </div>
        </div>
        <% } %>

          <form action="/reset-password" method="POST">
            <input type="hidden" name="token" value="<%= token %>">
            <label for="newPassword">New Password:</label>
            <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-300" type="password"
              id="password" placeholder='********' type="password" name="newPassword" required><br>
            <label for="confirmPassword">Confirm Password:</label>
            <input class="w-full px-3 py-2 border rounded-md focus:ring focus:ring-blue-300" type="password"
              id="password" placeholder='********' type="password" name="confirmPassword" required><br>
            <button class="w-full bg-blue-500 text-white py-2 mt-4 rounded-md hover:bg-blue-600 transition duration-300"
              type="submit">Reset Password</button>
          </form>
</body>

</html>