<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengaturan</title>
</head>
<body>
    <a href="">Change Email</a><br>
    <a href="">Change Phone Number</a><br>
    <a href="">Change Password</a><br>
    <a href="">Delete Account</a>
</body>
</html>