<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link href="../assets/css/output.css" rel="stylesheet">
  <script src="../tailwind_custom.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <%- include('style.ejs') %>
    <%- include('tailwind_custom.ejs') %>
</head>

<body>

  <img class="background_line_1" src="../assets/background/bg_pattern.svg" alt="" srcset="">
  <div class="background_circle_1">
    <img src="../assets/svg/circle_gradient.svg" alt="" srcset="">
  </div>
  <div style="height:44px;"></div>
  <h2 class="text-3xl font-semibold mb-4">Settings</h2>
  <form id="delete-account-form" class="form_setting" action="/delete-account" method="POST">
    <a href="/change-password" class=""><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15 6.66668H16.6667C17.1269 6.66668 17.5 7.03978 17.5 7.50001V17.5C17.5 17.9603 17.1269 18.3333 16.6667 18.3333H3.33333C2.8731 18.3333 2.5 17.9603 2.5 17.5V7.50001C2.5 7.03978 2.8731 6.66668 3.33333 6.66668H5V5.83334C5 3.07192 7.23857 0.833344 10 0.833344C12.7614 0.833344 15 3.07192 15 5.83334V6.66668ZM4.16667 8.33334V16.6667H15.8333V8.33334H4.16667ZM9.16667 11.6667H10.8333V13.3333H9.16667V11.6667ZM5.83333 11.6667H7.5V13.3333H5.83333V11.6667ZM12.5 11.6667H14.1667V13.3333H12.5V11.6667ZM13.3333 6.66668V5.83334C13.3333 3.99239 11.8409 2.50001 10 2.50001C8.15905 2.50001 6.66667 3.99239 6.66667 5.83334V6.66668H13.3333Z"
          fill="white" />
      </svg>
      Change Password</a><br>
    <button type="button" onclick="confirmDelete()" class="button_red_tranparent transition-colors duration-300">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.6668 11.8767V13.6178C11.1455 13.4336 10.5846 13.3333 10.0002 13.3333C7.23874 13.3333 5.00016 15.5719 5.00016 18.3333H3.3335C3.3335 14.6514 6.31826 11.6667 10.0002 11.6667C10.5757 11.6667 11.1342 11.7396 11.6668 11.8767ZM10.0002 10.8333C7.23766 10.8333 5.00016 8.59583 5.00016 5.83333C5.00016 3.07083 7.23766 0.833328 10.0002 0.833328C12.7627 0.833328 15.0002 3.07083 15.0002 5.83333C15.0002 8.59583 12.7627 10.8333 10.0002 10.8333ZM10.0002 9.16666C11.8418 9.16666 13.3335 7.675 13.3335 5.83333C13.3335 3.99166 11.8418 2.49999 10.0002 2.49999C8.1585 2.49999 6.66683 3.99166 6.66683 5.83333C6.66683 7.675 8.1585 9.16666 10.0002 9.16666ZM15.8335 14.6548L17.6012 12.8871L18.7797 14.0656L17.012 15.8333L18.7797 17.6011L17.6012 18.7796L15.8335 17.0118L14.0657 18.7796L12.8872 17.6011L14.655 15.8333L12.8872 14.0656L14.0657 12.8871L15.8335 14.6548Z"
          fill="#C52284" />
      </svg>
      Delete Account
    </button>
  </form>

  <div id="snackbarNotif" class="snackbar_notif snackBarHidden snackBarWarning" onclick="closeSnackBar()">
    <div class="border_red"><svg width="56" height="56" viewBox="0 0 56 56" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M32.6668 33.2547V38.1299C31.2071 37.614 29.6365 37.3333 28.0002 37.3333C20.2682 37.3333 14.0002 43.6014 14.0002 51.3333H9.3335C9.3335 41.024 17.6908 32.6667 28.0002 32.6667C29.6116 32.6667 31.1754 32.8708 32.6668 33.2547ZM28.0002 30.3333C20.2652 30.3333 14.0002 24.0683 14.0002 16.3333C14.0002 8.59833 20.2652 2.33333 28.0002 2.33333C35.7352 2.33333 42.0002 8.59833 42.0002 16.3333C42.0002 24.0683 35.7352 30.3333 28.0002 30.3333ZM28.0002 25.6667C33.1568 25.6667 37.3335 21.49 37.3335 16.3333C37.3335 11.1767 33.1568 7 28.0002 7C22.8435 7 18.6668 11.1767 18.6668 16.3333C18.6668 21.49 22.8435 25.6667 28.0002 25.6667ZM44.3335 41.0335L49.2832 36.0838L52.583 39.3836L47.6333 44.3333L52.583 49.283L49.2832 52.5828L44.3335 47.6331L39.3838 52.5828L36.084 49.283L41.0337 44.3333L36.084 39.3836L39.3838 36.0838L44.3335 41.0335Z"
          fill="#C52284" />
      </svg>


    </div>
    <div class="text_title_snackbar_warning">Hapus Akun</div>
    <div class="text_title_snackbar_subtitle">
      Apakah Anda yakin ingin menghapus akun? Tindakan ini tidak dapat dibatalkan!
    </div>
    <div><a class="button_icon_black" onclick="goDelete()">Hapus <svg width="20" height="20" viewBox="0 0 20 20"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.99984 18.3333C5.39746 18.3333 1.6665 14.6023 1.6665 9.99999C1.6665 5.39761 5.39746 1.66666 9.99984 1.66666C14.6022 1.66666 18.3332 5.39761 18.3332 9.99999C18.3332 14.6023 14.6022 18.3333 9.99984 18.3333ZM9.99984 16.6667C13.6818 16.6667 16.6665 13.6819 16.6665 9.99999C16.6665 6.31809 13.6818 3.33332 9.99984 3.33332C6.31794 3.33332 3.33317 6.31809 3.33317 9.99999C3.33317 13.6819 6.31794 16.6667 9.99984 16.6667ZM9.16867 13.3333L5.63316 9.79782L6.81168 8.61924L9.16867 10.9763L13.8828 6.26226L15.0613 7.44076L9.16867 13.3333Z"
            fill="#C52284" />
        </svg>
      </a> <a onclick="closeSnackBar()">Tidak <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.0006 8.82208L14.1253 4.69727L15.3038 5.87577L11.1791 10.0006L15.3038 14.1253L14.1253 15.3038L10.0006 11.1791L5.87577 15.3038L4.69727 14.1253L8.82208 10.0006L4.69727 5.87577L5.87577 4.69727L10.0006 8.82208Z"
            fill="url(#paint0_linear_26_1298)" />
          <defs>
            <linearGradient id="paint0_linear_26_1298" x1="15.3038" y1="15.3038" x2="4.69727" y2="15.3038"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#22C55E" />
              <stop offset="0.572917" stop-color="#0EA5E9" />
              <stop offset="1" stop-color="#6366F1" />
            </linearGradient>
          </defs>
        </svg>

      </a>
    </div>
  </div>
  <script>
    var snackbarNotif = document.getElementById('snackbarNotif');

    function openSnackBar() {
      snackbarNotif.classList.remove('snackBarHidden');
    }
    function confirmDelete() {
      openSnackBar()
    }
    function goDelete() {

      document.getElementById("delete-account-form").submit();

    }

    function closeSnackBar() {
      snackbarNotif.classList.add('snackBarHidden');
    }
  </script>
</body>

</html>