<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Hasil Studi</title>
</head>
<body>
  <h2>Update Hasil Studi</h2>

  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <form action="/update-hasil-studi" method="POST">
    <label for="semester">Semester:</label>
    <input type="text" id="semester" name="semester" value="<%= hasilStudi ? hasilStudi.semester : '' %>">
    <br>
    <label for="ip">IP:</label>
    <input type="text" id="ip" name="ip" value="<%= hasilStudi ? hasilStudi.ip : '' %>">
    <br>
    <button type="submit">Perbarui</button>
  </form>

  <a href="/user?id=<%= user.id %>">Kembali</a>
</body>
</html>
