<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account</title>
</head>
<body>
    <p>Kami telah mengirimkan tautan ke <%= email %> untuk memverifikasi akun Anda</p>
</body>
</html>