<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Soal</title>
  </head>
  <body>
    <form action="/add-question" method="post">
      <label for="question">Pertanyaan:</label>
      <textarea id="question" name="question" required></textarea>
      <br />
      <label for="option_a">Opsi A:</label>
      <input type="text" id="option_a" name="option_a" required />
      <br />
      <label for="option_b">Opsi B:</label>
      <input type="text" id="option_b" name="option_b" required />
      <br />
      <label for="option_c">Opsi C:</label>
      <input type="text" id="option_c" name="option_c" required />
      <br />
      <label for="option_d">Opsi D:</label>
      <input type="text" id="option_d" name="option_d" required />
      <br />
      <label for="option_e">Opsi E:</label>
      <input type="text" id="option_e" name="option_e" required />
      <br />
      <label for="answer">Jawaban:</label>
      <select id="answer" name="answer" required>
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
        <option value="d">D</option>
        <option value="e">E</option>
      </select>
      <br /><br />
      <input type="submit" value="Tambah Soal" />
    </form>
  </body>
</html>
